body {
  font-family: 'Montserrat, sans-serif';
}

#title {

  padding-bottom: 80px;
}

h1 {
  font-family: 'Montserrat, sans-serif';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

em {
  color: #fff;
}

p {
  color: #8f8f8f;
  margin: 0;
  padding: 10px 0;
}

.container-fluid {
  padding: 3% 15%;
}

/* section */

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: WHITE;
}

/* navigationbar */
.navbar {
  padding: 0 0 40px;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* download buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* tittle image */

.titleimage {
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
  right: 30%;
  z-index: 1;
}

/* Features */
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.rowp0 {
  margin: 00;
}

#features {
  position: relative;
  z-index: 10;

}

.feature-box {
  text-align: center;
  padding: 00;
}

.feature-item {
  padding: 40px;
}

/* testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.dogy-image {
  border-radius: 100%;
  width: 10%;
  margin: 30px 15px 0 0;
}

/* Press  */
#press {
  background-color: #ef8172;
  text-align: center;
}

.press-logo {
  margin: 20px 1px 70px;
}

.carousel-item {
  padding: 7% 15%;
}

/* pricing section*/
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* media query */
@media (max-width: 992px) {
  #title {
    text-align: center;
  }

  .titleimage {
    position: static;
    transform: rotate(0deg);
  }
}

/* cta-class */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding-top: 20px;
}

.new {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}

.width {
  width: 80%;
  margin: auto;
}

.new-btn {
  margin: 20px 10px 50px;
}

i {
  padding: 0 4px;
}

/* footer-class */
#footer {
  background-color: #fff;
  text-align: center;
  margin: 00;
  padding-top: 15px;
}

.last-p {
  color: grey;
}
